body {
    padding: 0;
    margin: 0;
}
.button2 {
    background-color: 0;
    border: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 9%;
    left: 71.2%;
    padding: 5px 40px;
    font-size: 15px;
    font-weight: bold;
}